body
{
    font-family:'Dancing Script';
    background:lightpink;
}

.header_div
{
    background:mintcream;
    color:red;
}

.header_div p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:silver;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer {
    position: fixed;
    color:red;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background:white ;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151,149,149);
}